alembic==1.18.5
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.14.1
aptdaemon==2.0.2
apturl==0.5.2
attrs==25.4.0
autocommand==2.2.2
babel==2.17.0
bcc==0.35.0
bcrypt==5.0.0
beautifulsoup4==4.14.3
black==26.5.1
blinker==1.9.0
Bottleneck==1.4.2
Brlapi==0.8.6
Brotli==1.2.0
certifi==2026.6.17
cffi==2.0.0
cfgv==3.5.0
chardet==5.2.0
click==8.4.2
cloudinary==1.45.0
colorama==0.4.6
command-not-found==0.3
configobj==5.0.9
contourpy==1.3.3
coverage==7.15.0
cryptography==46.0.5
cssselect==1.4.0
cupshelpers==1.0
cycler==0.12.1
dasbus==1.7
dbus-python==1.4.0
decorator==5.2.1
defer==1.0.6
defusedxml==0.7.1
distlib==0.4.3
distro==1.9.0
distro-info==1.15
dnspython==2.8.0
email-validator==2.3.0
et_xmlfile==2.0.0
fail2ban==1.1.0
fastapi==0.139.0
filelock==3.29.6
flake8==7.3.0
fonttools==4.63.0
fpdf2==2.8.7
gpg==2.0.0
greenlet==3.5.3
gyp-next==0.16.2
h11==0.16.0
html5lib-modern==1.2
httpcore==1.0.9
httplib2==0.22.0
httpx==0.28.1
identify==2.6.19
idna==3.18
inflect==7.5.0
iniconfig==2.3.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
Jinja2==3.1.6
jsonpatch==1.32
jsonpointer==2.4
jsonschema==4.19.2
jsonschema-specifications==2023.12.1
kiwisolver==1.4.10rc0
language-selector==0.1
launchpadlib==2.1.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
legacy-cgi==2.6.4
libpass==1.9.3
lightdm-gtk-greeter-settings==1.2.3
linkify-it-py==2.0.3
llvmlite==0.46.0
louis==3.36.0
lxml==6.0.2
lz4==4.4.5+dfsg
Mako==1.3.12
markdown-it-py==3.0.0
MarkupSafe==3.0.3
matplotlib==3.10.7+dfsg1
mccabe==0.7.0
mdurl==0.1.2
menulibre==2.4.0
more-itertools==10.8.0
mpmath==1.3.0
msgpack==1.1.2
mugshot==0.4.3
mypy_extensions==1.1.0
netaddr==1.3.0
nodeenv==1.10.0
numba==0.64.0
numexpr==2.14.1
numpy==2.3.5
oauthlib==3.3.1
odfpy==1.4.2
olefile==0.47
onboard==1.4.3.post9
openpyxl==3.1.5
packaging==26.2
pandas==2.3.3
passlib==1.7.4
pathspec==1.1.1
pexpect==4.9.0
pillow==12.3.0
platformdirs==4.10.0
pluggy==1.6.0
pooch==1.9.0
pre_commit==4.6.0
psutil==7.1.0
psycopg2-binary==2.9.12
ptyprocess==0.7.0
py-cpuinfo==9.0.0
pyasyncore==1.0.2
pycairo==1.27.0
pycodestyle==2.14.0
pycparser==3.0
pycups==2.0.4
pydantic==2.13.4
pydantic-settings==2.14.2
pydantic_core==2.46.4
pyflakes==3.4.0
Pygments==2.20.0
PyGObject==3.56.2
pyinotify==0.9.6
PyJWT==2.13.0
pynvim==0.6.0
pyparsing==3.3.2
pyserial==3.5
PySide6==6.10.2
PySocks==1.7.1
pytest==9.1.1
pytest-cov==7.1.0
python-apt==3.1.0+ubuntu1
python-dateutil==2.9.0
python-debian==1.0.1+ubuntu2
python-discovery==1.4.3
python-dotenv==1.2.2
python-multipart==0.0.32
pytokens==0.4.1
pytz==2025.2
pyxdg==0.28
PyYAML==6.0.3
referencing==0.36.2
requests==2.32.5
requests-futures==1.0.2
rich==13.9.4
rpds-py==0.27.1
scipy==1.16.3
setproctitle==1.3.7
setuptools==78.1.1
sgt-launcher==0.2.8
sherlock-project==0
shiboken6==6.10.2
shiboken6-generator==6.10.2
six==1.17.0
soupsieve==2.8.3
SQLAlchemy==2.0.51
ssh-import-id==5.11
starlette==1.3.1
stem==1.8.2
sympy==1.14.0
systemd-python==235
tables==3.10.2
torbrowser-launcher==0.3.9
tqdm==4.67.3
typeguard==4.4.4
typing-inspection==0.4.2
typing_extensions==4.16.0
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
uc-micro-py==1.0.3
ufoLib2==0.18.1
ufw==0.36.2
unattended-upgrades==0.1
unicodedata2==16.0.0
urllib3==2.7.0
urwid==3.0.4
usb-creator==0.3.16
uvicorn==0.50.2
virtualenv==21.6.0
wadllib==2.0.0
wcwidth==0.2.14
webencodings==0.5.1
wheel==0.46.3
xcffib==1.5.0
xdg==5
xkit==0.0.0
zipp==3.23.0
zopfli==0.4.1
